body{
    background-color: rgb(32, 32, 85);
}

div{
text-align: center;

}
form{
border: 1px outset azure;
width: 500px;height: auto;
padding: 15px;
border-radius: 10px;
text-align: center;
}

.boton1{
    background-color: azure;
    margin: 10px;
}

input{
    margin: 10px;
    padding: 10px;
    opacity: 0.8;
    color: black;
}