.text-center {
    text-align: center;
  }
  
  .text-lg {
    font-size: 2rem;
  }
  
  .font-bold {
    font-weight: bold;
  }
  
  .mb-1 {
    margin-bottom: 1rem;
  }
  .border-0{
    border: none;

  }
  .py-1{
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .px-2{
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .border-rounded-md{
    border-radius: 4px;
  }
  .pointer{
    cursor: pointer;
  }
  
  .bg-red {
    background-color: red;
   
  }
  .text-white{
   color: white;
  }
  
  .bg-blue {
    background-color: blue;
  }