:root {
  --clinica: hsl(340, 100%, 45%);
  --color-bold: hsl(205, 24%, 11%);
  --color-secundario: hsl(30, 31%, 95%);
  --color-principal: hsl(240, 1%, 65%);
  --md: 799px;
}

/*------------------- Fuentes --------------------------*/
@font-face {
  font-family: 'Hind-400';
  font-display: swap;
  src: url("../fonts/hind-400.woff2") format("woff2");
}

@font-face {
  font-family: 'Hind-500';
  font-display: swap;
  src: url("../fonts/hind-500.woff2") format("woff2");
}

@font-face {
  font-family: 'Hind-600';
  font-display: swap;
  src: url("../fonts/hind-600.woff2") format("woff2");
}

@font-face {
  font-family: 'Hind-700';
  font-display: swap;
  src: url("../fonts/hind-700.woff2") format("woff2");
}

@font-face {
  font-family: 'fred';
  font-display: swap;
  src: url("../fonts/frederick.woff2") format("woff2");
}
/*------------- Estilos base ---------------*/
html {
  font-size: clamp(15px, 0.5vw + 12px, 18px);
}

body {
  font-family: "Hind-500", sans-serif;
  font-optical-sizing: auto;
  color: var(--color-principal);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-family: 'Hind-600', sans-serif;
  font-size: 1.7em;
  color: var(--color-bold);
  text-align: left;
}

a {
  color: var(--color-principal);
  text-decoration: none;
}
/*----------------- Utilidaddes ---------------------*/

.d-grid {display: grid;}
.grid-columns-1 {grid-template-columns: 1fr;}
.d-flex {display: flex;}
.align-items-center { align-items: center; }
.justify-content-center {justify-content: center;}
.justify-content-between {justify-content: space-between;}
.flex-grow {flex-grow: 1;}
.gap-1 {gap: 1em;}
.container {
  width: 96%;
  max-width: 1200px;
  margin-inline: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  /* clip-path: ; */
  white-space: nowrap;
  border: 0;
}
.border-bottom-1 {border-bottom: 1px solid #eee;}
.border-top-1 {border-top: 1px solid #eee;}
.pt-1 {padding-top: 1em;}
@media screen {
  .d-none {display: none;}
}
/*------------------- Responsivo utilidades ---------------*/

@media screen and (min-width: 400px) {
  .grid-columns-sm-2 { grid-template-columns: repeat(2, 1fr); }
}
@media screen and (min-width: 600px) {
  .grid-columns-md-4 { grid-template-columns: repeat(4, 1fr); }
  .d-md-flex { display: flex; }
  .align-items-md-stretch { align-items: stretch; }
  .justify-content-md-between { justify-content: space-between; }
  .border-md-0 { border: 0 none; }
  .pt-md-0 { padding-top: 0; }
  .d-md-none { display: none; }
  .visible-md { display: initial; }
}

/*------------------- Botón -------------------------*/

.btn-cta {
  color: white;
  background-color: var(--clinica);
  border-radius: 0.5em;
  padding: 0.5em 1em;
  display: inline-block;
}

/*-------------------- Header ------------------*/

header {
  border-top: 3px var(--clinica) solid;
}

@media screen and (min-width: 600px) {
  header {border-top: 0 none;}
}
header ul {
  list-style: none;
  padding: 0;
}
header .telefono::after {
  content: '|';
  margin-left: 1em;
}
[alt='Inicio'] {
  width: 75%;
  padding-block: 1em;
}
@media screen and (min-width: 600px) {
  [alt='Inicio'] { width: auto; }
}

/*---------------------- RRSS -----------------*/

header svg {
  height: 1em;
  aspect-ratio: 1;
  fill: currentColor;
}
header svg.icon-xl {
   height: 1.2em;
}
header .pre-header a{
  opacity: .5;
  transition: .2s;
}
header .pre-header a:hover{
  opacity: 1;
}
/*------------------ Navigation -----------------*/

@media screen and (min-width: 600px) {
  nav {
    position: absolute;
    width: 100%;
    background-color: rgb(255 255 255 / 0.75);
  }
}
.menu-toggle {
  cursor: pointer;
  border: 0 none;
  background-color: transparent;
}
.menu-toggle .bar {
  width: 25px;
  height: 3px;
  display: block;
  background-color: var(--clinica);
  margin: 5px auto;
  transition: .3s ease-in-out;
}
.menu-toggle.is-active .bar:nth-child(2) {opacity: 0;}
.menu-toggle.is-active .bar:nth-child(1) {transform: translateY(8px) rotate(45deg);
}
.menu-toggle.is-active .bar:nth-child(3) {transform: translateY(-8px) rotate(-45deg);
}
nav ul {
  background-color: #fff;
  position: fixed;
  transform: translateX(-103%);
  top: 234.5px;
  height: calc(100vh - 234.5px);
  /* height: 100vh;*/
  width: 100%;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  margin: 0;
}
@media screen and (min-width: 600px) {
  nav ul {
    background-color: initial;
    position: initial;
    transform: initial;
    height: initial;
    width: initial;
    display: flex;
    gap: 2em;
  }
  nav ul li {display: flex;}
}
nav li a {
    padding-block: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav li a:hover {
  color: var(--clinica);
  transition: .3s;
}
@media screen and (min-width: 600px) {
  nav li a {
    border-top: transparent 3px solid;
  }
  nav li:not(:last-child) a:hover {
    border-top-color: currentColor;
  }
}
.mobile-nav ul {transform: translateX(-10px) !important;}

/*--------------------- Hero ---------------------*/

.hero {
  text-align: center;
  font-size: 1.1rem;
  background-image: linear-gradient(90deg, rgb(0 0 0 / 0.3) 0%, rgb(0 0 0 / 0.3)100%), url("../img/familia.jpeg");
  background-size: cover;
  color: white;
  padding: 4em 5%;
}
@media screen and (min-width: 600px) {
  .hero {
    padding-top: calc(133px + 4em);
    padding-bottom: 2em;
  }
}
.hero h1 {
  font-family: 'fred', sans-serif;
  font-size: 3em;
  font-weight: 400;
  margin-top: 0;
}
.hero h1 + p {font-size: 1.5em;}

/*----------------Ventajas----------------*/
.ventajas ul {
  list-style: none;
}
.ventajas ul li  {
  padding-top: calc(120px + 2em);
  background-repeat: no-repeat;
  background-size: auto 120px;
  background-position: center top;
  text-align: center;
  margin-bottom: 2em;
}
.ventajas .financiacion {background-image: url(../img/financiacion.png);}
.ventajas .atencion {background-image: url(../img/icono-muela.png);}
.ventajas .especializadas {background-image: url(../img/icono-oso.png);}
.ventajas .adaptada {background-image: url(../img/icono-accesibilidad.png);}

/*------------------- Claim -----------------*/

.claim {
  background-color: var(--clinica);
  color: white;
  text-align: center;
  font-size: clamp(1.5rem, 5vw, 2rem);
  padding-block: 1em;
}